.page-header
  %h4 Generate iOS 8 Icons

.row
  .col-sm-6
    .row
      .col-sm-6
        .canvas-container
          %canvas#canvas-29p2x.icon-canvas{:height => "58", :style => "", :width => "58"}
        .canvas-label
          29 Point @ 2x
      .col-sm-6
        .canvas-container
          %canvas#canvas-29p3x.icon-canvas{:height => "87", :style => "", :width => "87"}
        .canvas-label
          29 Point @ 3x
      .col-sm-6
        .canvas-container
          %canvas#canvas-40p2x.icon-canvas{:height => "80", :style => "", :width => "80"}
        .canvas-label
          40 Point @ 2x
      .col-sm-6
        .canvas-container
          %canvas#canvas-40p3x.icon-canvas{:height => "120", :style => "", :width => "120"}
        .canvas-label
          40 Point @ 3x
      .col-sm-6
        .canvas-container
          %canvas#canvas-60p2x.icon-canvas{:height => "120", :style => "", :width => "120"}
        .canvas-label
          60 Point @ 2x
      .col-sm-6
        .canvas-container
          %canvas#canvas-60p3x.icon-canvas{:height => "180", :style => "", :width => "180"}
        .canvas-label
          60 Point @ 3x

  .col-sm-6
    #callout-focus-demo.bs-callout.bs-callout-info
      %h4
        Icon Properties
      %hr
      %form
        .form-group
          %label Background Color
          .input-group.colorpicker
            %input#bg-color.form-control{:type => "text", :value => "#FFFFFF"}
            %span.input-group-addon
              %i
        .form-group
          %label Foreground Color
          .input-group.colorpicker
            %input#fg-color.form-control{:type => "text", :value => "#000000"}
            %span.input-group-addon
              %i
        .form-group
          %label Font Icon
          %select.form-control#fontpicker
            - @icons.each do |icon|
              %option{:value => "0x#{icon[:code]}"}
                = icon[:name]
        %a#btn-generate.btn.btn-primary{href: '#'} Generate
        %a#btn-download.btn.btn-info{href: '#'} Download
    .well
      %h4 Icon Sets
      %hr

.hidden
  %form#download-form{action: '/createiconset', method: 'POST'}
    %input#data-url-29p2x{:name => "image-data-29p2x", :type => "text", :value => ""}
    %input#data-url-29p3x{:name => "image-data-29p3x", :type => "text", :value => ""}
    %input#data-url-40p2x{:name => "image-data-40p2x", :type => "text", :value => ""}
    %input#data-url-40p3x{:name => "image-data-40p3x", :type => "text", :value => ""}
    %input#data-url-60p2x{:name => "image-data-60p2x", :type => "text", :value => ""}
    %input#data-url-60p3x{:name => "image-data-60p3x", :type => "text", :value => ""}

    %input{:type => "submit"}

:javascript
  $(function(){
    $('.colorpicker').colorpicker();
    var c = document.getElementById("canvas-29p2x");
    c.oncontextmenu = function() {
      return false;
    }

    $('#btn-generate').click(function(e){
      e.preventDefault();
      var bgColor = $('#bg-color').val();
      var fgColor = $('#fg-color').val();
      var selectedFont = String.fromCharCode($('#fontpicker').val());
      $(".icon-canvas").each(function( index ) {
        console.log($(this).context.id);
        generateIcon($(this).context.id, fgColor, bgColor, selectedFont);
      });
    });

    $('#btn-download').click(function(e){
      e.preventDefault();
      startDownload();
    });

  });
